@import url('https://fonts.googleapis.com/css?family=Gugi');
body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1 {
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/wave.jpg?itok=XS6D8dpD");
  height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.logo{
  font-family: 'Gugi', cursive;
  font-size: 60px;
  position: absolute;
  right: 2%;
  top: 80%;
  text-align: center;
  color: #00ffff;
  display: none;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

p{
  display: block;
  margin: auto;
  text-align: center;
}
a:link{
  color:#00ffff;
}
a:visited{
  color:#00ffff;
}
a:hover{
  color:#00ffff;
}
a:focus{
  color:#00ffff;
}
a:active{
  color:#00ffff;
}